[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "YelpKit"]
	path = YelpKit
	url = git://github.com/Yelp/YelpKit.git
[submodule "yelp-api"]
	path = yelp-api
	url = git://github.com/LawrenceCTran/yelp-api.git
